@import "../../../../../consts";
$media-slider-item-height: 500px;
$media-slider-item-height2: 350px;

.media-slider-container {
  width: 80%;
}

.media-slider-item {
  height: $media-slider-item-height;
}

.media-slider-image {
  width: auto;
  height: $media-slider-item-height;
}
@media (max-width: $screen-breakpoint2) {
  .media-slider-item {
    height: $media-slider-item-height2;
  }

  .media-slider-image {
    width: auto;
    height: $media-slider-item-height2;
  }
}
