<!--Form-->
<mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
  <mdb-card-body class="z-depth-2">
    <!--Header-->
    <div class="text-center">
      <h3 class="dark-grey-text">
        <strong>{{'SIGNIN.SIGNUP' | translate}}</strong>
      </h3>
      <hr>
    </div>
    <!--Body-->

    <div *ngIf="alert.show" class="alert alert-dismissible fade show" [ngClass]="alert.type" role="alert">
      <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
      </button>
      {{alert.message}}
    </div>
    <form name="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="md-form">
        <input type="email" id="email" class="form-control" mdbInput mdbValidate formControlName="email" [readOnly]="loading">
        <label for="email">{{'SIGNIN.EMAIL' | translate}}</label>
        <mdb-error *ngIf="f.email.errors && f.email.errors.required && (f.email.dirty || f.email.touched)" [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SIGNIN.EMAIL' | translate}"></mdb-error>
        <mdb-error *ngIf="f.email.errors && f.email.errors.email && (f.email.dirty || f.email.touched)" [translate]="'COMMON.FIELD_INVALID'" [translateParams]="{field: 'SIGNIN.EMAIL' | translate}"></mdb-error>
      </div>
      <div class="md-form">
        <input type="text" id="firstName" class="form-control" mdbInput mdbValidate formControlName="firstName" [readOnly]="loading">
        <label for="firstName">{{'SIGNIN.FIRST_NAME' | translate}}</label>
        <mdb-error *ngIf="f.firstName.errors && f.firstName.errors.required && (f.firstName.dirty || f.firstName.touched)" [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SIGNIN.FIRST_NAME' | translate}"></mdb-error>
      </div>
      <div class="md-form">
        <input type="text" id="lastName" class="form-control" mdbInput mdbValidate formControlName="lastName" [readOnly]="loading">
        <label for="lastName">{{'SIGNIN.LAST_NAME' | translate}}</label>
        <mdb-error *ngIf="f.lastName.errors && f.lastName.errors.required && (f.lastName.dirty || f.lastName.touched)" [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SIGNIN.LAST_NAME' | translate}"></mdb-error>
      </div>
      <div class="md-form">
        <input type="password" id="password" class="form-control" mdbInput mdbValidate formControlName="password" [readOnly]="loading">
        <label for="password">{{'SIGNIN.PASSWORD' | translate}}</label>
        <mdb-error *ngIf="f.password.errors && f.password.errors.required && (f.password.dirty || f.password.touched)" [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SIGNIN.PASSWORD' | translate}"></mdb-error>
        <mdb-error *ngIf="f.password.errors && f.password.errors.minlength && (f.password.dirty || f.password.touched)" [translate]="'COMMON.FIELD_MIN_LENGTH'" [translateParams]="{field: 'SIGNIN.PASSWORD' | translate, length: 6}"></mdb-error>
      </div>
      <div class="md-form">
        <input type="password" id="password2" class="form-control" mdbInput mdbValidate formControlName="password2" [readOnly]="loading"  mdb-validateEqual="password" validateEqual="password">
        <label for="password2">{{'SIGNIN.PASSWORD2' | translate}}</label>
        <mdb-error *ngIf="f.password2.errors && f.password2.errors.required && (f.password2.dirty || f.password2.touched)" [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SIGNIN.PASSWORD2' | translate}"></mdb-error>
        <mdb-error *ngIf="f.password2.errors && f.password2.errors.minlength && (f.password2.dirty || f.password2.touched)" [translate]="'COMMON.FIELD_MIN_LENGTH'" [translateParams]="{field: 'SIGNIN.PASSWORD2' | translate, length: 6}"></mdb-error>
        <mdb-error *ngIf="f.password2.errors && !f.password2.errors.required && !f.password2.errors.minlength && !f.password2.errors.validateEqual && (f.password2.dirty || f.password2.touched)" [translate]="'COMMON.MAKE_SURE_SAME_TO'" [translateParams]="{field: 'SIGNIN.PASSWORD' | translate}"></mdb-error>
      </div>
      <div class="md-form">
        <input type="text" id="position" class="form-control" mdbInput mdbValidate formControlName="position" [readOnly]="loading">
        <label for="position">{{'SIGNIN.POSITION' | translate}}</label>
        <mdb-error *ngIf="f.position.errors && f.position.errors.required && (f.position.dirty || f.position.touched)" [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SIGNIN.POSITION' | translate}"></mdb-error>
      </div>
      <div class="md-form">
        <input type="text" id="country" class="form-control" mdbInput mdbValidate formControlName="country" [readOnly]="loading" [mdbAutoCompleter]="country" autocomplete="na">
        <label for="country">{{'SIGNIN.COUNTRY' | translate}}</label>
        <mdb-auto-completer [displayValue]="onDisplayValue" #country="mdbAutoCompleter" [textNoResults]="'COMMON.NO_DATA' | translate">
          <mdb-option *ngFor="let country of countriesData | async" [value]="country">
            {{ country.name }}
          </mdb-option>
        </mdb-auto-completer>
        <mdb-error *ngIf="f.country.errors && f.country.errors.required && (f.country.dirty || f.country.touched)" [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SIGNIN.COUNTRY' | translate}"></mdb-error>
      </div>
      <div class="md-form">
        <input type="text" id="city" class="form-control" mdbInput mdbValidate formControlName="city" [readOnly]="loading">
        <label for="city">{{'SIGNIN.CITY' | translate}}</label>
        <mdb-error *ngIf="f.city.errors && f.city.errors.required && (f.city.dirty || f.city.touched)" [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SIGNIN.CITY' | translate}"></mdb-error>
      </div>
      <div class="md-form">
        <input type="text" id="phone" class="form-control" mdbInput mdbValidate formControlName="phone" [readOnly]="loading">
        <label for="phone">{{'SIGNIN.LAST_NAME' | translate}}</label>
        <mdb-error *ngIf="f.phone.errors && f.phone.errors.required && (f.phone.dirty || f.phone.touched)" [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SIGNIN.PHONE' | translate}"></mdb-error>
      </div>
      <div class="text-center mt-3">
        <button type="submit" mdbBtn color="indigo" mdbWavesEffect [disabled]="form.invalid || loading">
          <mdb-icon fas icon="sign-in-alt"></mdb-icon>
          {{'SIGNIN.SIGNUP' | translate}}
        </button>
      </div>
      <div class="text-center mt-3">
        <button mdbBtn color="link" [routerLink]="routes.auth.signIn" [disabled]="loading">
          {{'SIGNIN.SIGNIN' | translate}}
        </button>
      </div>
    </form>
  </mdb-card-body>
</mdb-card>
<!--/.Form-->
