<div class="main-container">
  <div mdbScrollSpyElement="navbarScrollspy" id="main" [offset]="consts.offset.n2">
    <app-shared-media-slider [category]="consts.human"></app-shared-media-slider>
  </div>
  <div mdbScrollSpyElement="navbarScrollspy" id="ourService" [offset]="consts.offset.n2">
    <app-shared-our-services [category]="consts.human"></app-shared-our-services>
  </div>
  <div mdbScrollSpyElement="navbarScrollspy" id="contactUs" [offset]="consts.offset.n2">
    <app-shared-contact-us [category]="consts.human"></app-shared-contact-us>
  </div>
  <div mdbScrollSpyElement="navbarScrollspy" id="businessPartner" [offset]="consts.offset.n2">
    <app-shared-business-partner [category]="consts.human"></app-shared-business-partner>
  </div>
  <div mdbScrollSpyElement="navbarScrollspy" id="ourClients" [offset]="consts.offset.n2">
    <app-shared-our-clients [category]="consts.human"></app-shared-our-clients>
  </div>
  <div mdbScrollSpyElement="navbarScrollspy" id="directorsBoard" [offset]="consts.offset.n2">
    <app-shared-directors-board [category]="consts.human"></app-shared-directors-board>
  </div>
</div>

