<div class="main-container">
  <div mdbScrollSpyElement="navbarScrollspy" id="main">
    <app-shared-media-slider category="human"></app-shared-media-slider>
  </div>
  <div mdbScrollSpyElement="navbarScrollspy" id="ourService">
    <app-shared-our-services category="human"></app-shared-our-services>
  </div>
  <div mdbScrollSpyElement="navbarScrollspy" id="contactUs">
    <app-shared-contact-us category="human"></app-shared-contact-us>
  </div>
  <div mdbScrollSpyElement="navbarScrollspy" id="businessPartner">
    <app-shared-business-partner category="human"></app-shared-business-partner>
  </div>
  <div mdbScrollSpyElement="navbarScrollspy" id="ourClients">
    <app-shared-our-clients category="human"></app-shared-our-clients>
  </div>
  <div mdbScrollSpyElement="navbarScrollspy" id="directorsBoard">
    <app-shared-directors-board category="human"></app-shared-directors-board>
  </div>
</div>

