<section class="full-width pt-3">
  <div class="layout-footer z-depth-1">
    <div class="screen-breakpoint margin-auto-x p-2 row" dir="ltr">
      <div class="col-md-6 py-3" [translate]="'COMMON.COPYRIGHT'" [translateParams]="{year: year, company: company}">
<!--        {{'COMMON.COPYRIGHT' | translate:year}}-->
      </div>
      <div class="col-md-6 text-align-right">
<!--        <a type="button" href="https://www.facebook.com/saudi.hrc/" target="_blank" mdbBtn floating="true" size="sm" color="fb" class="waves-light mx-1" mdbWavesEffect>-->
<!--          <mdb-icon fab icon="facebook-f"></mdb-icon>-->
<!--        </a>-->
        <a type="button" [href]="consts.socialLinks.twitter" target="_blank" mdbBtn floating="true" size="sm" color="tw" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
        <a type="button" [href]="consts.socialLinks.youtube" target="_blank" mdbBtn floating="true" size="sm" color="yt" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="youtube"></mdb-icon>
        </a>
        <a type="button" [href]="consts.socialLinks.linkedin" target="_blank" mdbBtn floating="true" size="sm" color="li" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="linkedin-in"></mdb-icon>
        </a>
        <a type="button" [href]="consts.socialLinks.snapchat" target="_blank" mdbBtn floating="true" size="sm" color="warning" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="snapchat"></mdb-icon>
        </a>
        <!--        <a type="button" href="https://www.instagram.com/g_chcs/" target="_blank" mdbBtn floating="true" size="sm" color="ins" class="waves-light" mdbWavesEffect>-->
        <!--          <mdb-icon fab icon="instagram"></mdb-icon>-->
        <!--        </a>-->
        <a type="button" [href]="consts.socialLinks.whatsapp" target="_blank" mdbBtn floating="true" size="sm" color="success" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="whatsapp"></mdb-icon>
        </a>
      </div>
    </div>
  </div>
</section>
