<main>
  <div class="full-width">
    <!-- Navbar -->
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-light background-color-white sticky-top"
                [containerInside]="false">
      <mdb-navbar-brand>
        <a class="logo navbar-brand waves-light btn-sm" mdbWavesEffect mdbBtn color="primary"
           (click)="onLanguageButtonClicked()"><strong>{{'LANGUAGE' | translate}}</strong></a>
      </mdb-navbar-brand>
      <links>
        <ul class="navbar-nav nav-flex-icons" [ngClass]="('DIRECTION' | translate) === 'ltr' ? 'ml-auto' : 'mr-auto'">
          <li class="nav-item">
            <a [routerLink]="routes.home" class="nav-link waves-light text-white btn-sm" mdbWavesEffect mdbBtn
               color="secondary"
            >{{'COMMON.HOME' | translate}}</a>
          </li>
        </ul>
      </links>
    </mdb-navbar>

    <div class="container">
      <div class="section">
        <div class="row pt-3 mt-3">
          <div class="col-md-3">
          </div>
          <div class="col-md-6">
            <router-outlet></router-outlet>
          </div>
          <div class="col-md-3">
          </div>
        </div>
      </div>
    </div>

  </div>

</main>
