<main>
  <div class="full-width">
    <!-- Navbar -->
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-light background-color-white sticky-top"
                [containerInside]="false">
      <mdb-navbar-brand>
        <a class="logo navbar-brand waves-light btn-sm" mdbWavesEffect mdbBtn color="primary" (click)="onLanguageButtonClicked()"><strong>{{'LANGUAGE' | translate}}</strong></a>
      </mdb-navbar-brand>
      <links>
        <ul class="navbar-nav nav-flex-icons" [ngClass]="('DIRECTION' | translate) === 'ltr' ? 'ml-auto' : 'mr-auto'">
          <li class="nav-item">
            <a [routerLink]="routes.home" class="nav-link waves-light text-white btn-sm" mdbWavesEffect mdbBtn color="secondary"
            >{{'COMMON.HOME' | translate}}</a>
          </li>
        </ul>
      </links>
    </mdb-navbar>
    <!-- Full Page Intro -->
    <div class="view">
      <!-- Mask & flexbox options-->
        <div class="mask rgba-indigo-strong d-flex justify-content-center align-items-center"></div>
      <div class="screen-breakpoint mx-auto">
        <!-- Content -->
        <div class="container">
          <!--Grid row-->
          <div class="row pt-lg-5 mt-lg-5">
            <!--Grid column-->
            <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center wow fadeInLeft" [ngClass]="('DIRECTION' | translate) === 'ltr' ? 'text-md-left' : 'text-md-right'" data-wow-delay="0.3s">
              <h1 class="display-4 font-weight-bold">{{'SITE_NAME' | translate}}</h1>
              <hr class="hr-light">
<!--              <h6 class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi-->
<!--                fuga-->
<!--                nesciunt dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea-->
<!--                dolor molestiae, quisquam iste.</h6>-->
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-6 col-xl-5 mb-4">
              <router-outlet></router-outlet>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>

        <!-- Content -->
      </div>
      <!-- Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->
  </div>
</main>
