<section class="full-width about-us-image-padding mb-5">
  <img [src]="lang === 'en' ? 'assets/media/bg/conference-about-en.png' : 'assets/media/bg/conference-about-ar.png'" class="bg absolute-left-0" >
  <h2 class="h1-responsive font-weight-bold text-center my-5">{{'CONFERENCE_ABOUT_US.TITLE' | translate}}</h2>
  <h4 class="h5-responsive text-left w-responsive mx-auto mt-3 px-3">{{'CONFERENCE_ABOUT_US.DESCRIPTION1' | translate}}</h4>
  <h4 class="h5-responsive text-left w-responsive mx-auto mt-3 px-3">{{'CONFERENCE_ABOUT_US.DESCRIPTION2' | translate}}</h4>
  <h4 class="h5-responsive text-left w-responsive mx-auto mt-3 px-3">{{'CONFERENCE_ABOUT_US.DESCRIPTION3' | translate}}</h4>
  <ul>
    <li class="h5-responsive text-left w-responsive mx-auto">{{'CONFERENCE_ABOUT_US.ITEM1' | translate}}</li>
    <li class="h5-responsive text-left w-responsive mx-auto">{{'CONFERENCE_ABOUT_US.ITEM2' | translate}}</li>
    <li class="h5-responsive text-left w-responsive mx-auto">{{'CONFERENCE_ABOUT_US.ITEM3' | translate}}</li>
    <li class="h5-responsive text-left w-responsive mx-auto">{{'CONFERENCE_ABOUT_US.ITEM4' | translate}}</li>
  </ul>
  <h4 class="h5-responsive text-left w-responsive mx-auto mt-3 px-3">{{'CONFERENCE_ABOUT_US.POSTFACE' | translate}}</h4>
</section>
