<!--Section: Magazine v.1-->
<section class="my-5 screen-breakpoint margin-auto-x my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">{{title}}</h2>
  <!-- Section description -->
  <p class="text-center dark-grey-text w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in
    voluptate
    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit id laborum.</p>

  <!-- Grid column -->
  <div class="col-md-12">

    <!-- Small news -->
    <div *ngFor="let item of items; let i = index" class="single-news mb-4">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-3">

          <!--Image-->
          <div class="view overlay rounded z-depth-1 mb-4">
<!--            <img class="img-fluid" [src]="item.media" alt="Sample image">-->
            <img *ngIf="item.mime.startsWith('image')" class="img-fluid" [src]="item.media">
            <video *ngIf="item.mime.startsWith('video')" class="img-fluid" [autoplay]="true" [loop]="true" [muted]="true">
              <source [src]="item.media" [type]="item.mime" />
            </video>
            <a>
              <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
            </a>
          </div>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-9">

          <!-- Excerpt -->
          <p class="dark-grey-text"><span class="font-weight-bold">{{item.type}}</span> - {{item.title}}</p>
          <p class="dark-grey-text"><span class="font-weight-bold">{{item.name}}</span>, {{item.timestamp}}</p>
          <div class="d-flex justify-content-between">
            <div class="col-11 pl-0 mb-3">
              <p class="dark-grey-text">{{item.description}}</p>
            </div>
<!--            <a>-->
<!--              <mdb-icon fas icon="angle-double-right"></mdb-icon>-->
<!--            </a>-->
          </div>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Small news -->

  </div>
  <!-- Grid column -->

</section>
<!--/Section: Magazine v.1-->
