<section class="screen-breakpoint margin-auto-x my-5">

  <h2 class="h1-responsive font-weight-bold text-center my-5">{{'HUMAN_LAYOUT.OUR_CLIENTS' | translate}}</h2>
  <!-- Grid row -->
  <div class="row full-width px-3">

    <!-- Grid column -->
    <div class="col-md-12">

      <!-- Newsfeed -->
      <div class="mdb-feed">

        <!-- Fourth news -->
        <div *ngFor="let item of items;let i = index" class="news">

          <!-- Label -->
          <div class="label">
            <img [src]="item.photo"
                 class="rounded-circle z-depth-1-half my-client-photo">
          </div>

          <!-- Excerpt -->
          <div class="excerpt">
            <!-- Brief -->
            <div class="brief">
              <a class="name">{{lang === 'en' ? item.nameEn : item.nameAr}}</a>
<!--              posted on his page-->
              <div class="date">{{item.ago}}</div>
            </div>
            <star-rating [value]="item.stars" checkedcolor="gold" uncheckedcolor="gray" size="24px" readonly="true"></star-rating>
            <!-- Added text -->
            <div class="added-text">{{lang === 'en' ? item.feedbackEn : item.feedbackAr}}</div>
            <!-- Feed footer -->
            <div class="feed-footer">
            </div>
          </div>

        </div>
        <!-- Fourth news -->

      </div>
      <!-- Newsfeed -->

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Social newsfeed v.2 -->
