<section class="screen-breakpoint margin-auto-x my-5">

  <h2 class="h1-responsive font-weight-bold text-center my-5">{{title}}</h2>

  <div *ngIf="!items.length">
    <h4 class="h4-responsive font-weight-bold text-center my-5">{{'COMMON.NO_DATA' | translate}}</h4>
  </div>
  <!-- Grid row -->
  <div *ngIf="!!items.length" class="row full-width px-3">

    <!-- Grid column -->
    <div class="col-md-12">

      <!-- Newsfeed -->
      <div class="mdb-feed">

        <!-- Fourth news -->
        <div *ngFor="let item of items;let i = index" class="news">

          <!-- Label -->
          <div class="label">
            <img [src]="item.photo"
                 class="rounded-circle z-depth-1-half my-client-photo">
          </div>

          <!-- Excerpt -->
          <div class="excerpt">
            <!-- Brief -->
            <div class="brief">
              <a [routerLink]="[detailLink, item.id]" class="name">{{lang === 'en' ? item.nameEn : item.nameAr}}</a>
<!--              posted on his page-->
              <div class="date">{{item.ago}}</div>
            </div>
<!--            <star-rating [value]="item.stars" checkedcolor="gold" uncheckedcolor="gray" size="24px" readonly="true"></star-rating>-->
            <!-- Added text -->
            <div class="added-text"><span class="">{{'SHARED_OUR_CLIENTS.TITLE' | translate}}</span>: {{lang === 'en' ? item.titleEn : item.titleAr}}</div>
            <!-- Feed footer -->
            <div class="feed-footer">
            </div>
          </div>

        </div>
        <!-- Fourth news -->

      </div>
      <!-- Newsfeed -->

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Social newsfeed v.2 -->
