<!--<div class="text-align-center h4 mt-4 full-width"></div>-->
<section mdbScrollSpyElement="navbarScrollspy" id="ourService" class="screen-breakpoint margin-auto-x my-5">
  <h2 class="h1-responsive font-weight-bold text-center my-5">{{'HUMAN_LAYOUT.OUR_SERVICES' | translate}}</h2>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4 mb-3">
        <mdb-card>
          <div class="view rgba-white-slight waves-light" mdbWavesEffect>
            <!-- Card img -->
            <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap"></mdb-card-img>
            <a>
              <div class="mask"></div>
            </a>
          </div>
          <!--Card content-->
          <mdb-card-body>
            <!--Title-->
            <mdb-card-title>
              <h6>Card Title</h6>
            </mdb-card-title>

            <!--Text-->
            <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </mdb-card-text>

            <!--          <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>-->
          </mdb-card-body>
        </mdb-card>
      </div>
      <div class="col-md-4 mb-3">
        <mdb-card>
          <div class="view rgba-white-slight waves-light" mdbWavesEffect>
            <!-- Card img -->
            <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap"></mdb-card-img>
            <a>
              <div class="mask"></div>
            </a>
          </div>
          <!--Card content-->
          <mdb-card-body>
            <!--Title-->
            <mdb-card-title>
              <h6>Card Title</h6>
            </mdb-card-title>

            <!--Text-->
            <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </mdb-card-text>

            <!--          <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>-->
          </mdb-card-body>
        </mdb-card>
      </div>
      <div class="col-md-4 mb-3">
        <mdb-card>
          <div class="view rgba-white-slight waves-light" mdbWavesEffect>
            <!-- Card img -->
            <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap"></mdb-card-img>
            <a>
              <div class="mask"></div>
            </a>
          </div>
          <!--Card content-->
          <mdb-card-body>
            <!--Title-->
            <mdb-card-title>
              <h6>Card Title</h6>
            </mdb-card-title>

            <!--Text-->
            <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </mdb-card-text>

            <!--          <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>-->
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </div>
</section>
