form {
  //margin-left: 15px;
}

.my-error {
  //margin-top: 10px;
  margin-left: 15px;
}

.profit-card-body {
  padding-bottom: 0;
}

.button-spec {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
