<main>
  <div class="full-width">
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-light background-color-white sticky-top" [containerInside]="false">
      <!-- Navbar brand -->
      <mdb-navbar-brand><a class="navbar-brand"><img routerLink="/" src="./assets/media/logos/logo-sm.png" (click)="clearSection()"></a></mdb-navbar-brand>
<!--      <div class="screen-breakpoint margin-auto-x">-->

        <!-- Collapsible content -->
        <links>

          <!-- Links -->
          <ul mdbScrollSpy="navbarScrollspy" class="navbar-nav" [ngClass]="('DIRECTION' | translate) === 'ltr' ? 'mr-auto' : 'ml-auto'">
            <li class="nav-item">
              <a href="#main" mdbPageScroll [pageScrollOffset]="scrollOffset" [pageScrollDuration]="scrollDuration" class="nav-link waves-light" mdbWavesEffect>{{'HUMAN_LAYOUT.MAIN' | translate}}</a>
            </li>
            <li class="nav-item">
              <a href="#ourService" mdbPageScroll [pageScrollOffset]="scrollOffset" [pageScrollDuration]="scrollDuration" class="nav-link waves-light" mdbWavesEffect>{{'HUMAN_LAYOUT.OUR_SERVICES' | translate}}</a>
            </li>
            <li class="nav-item">
<!--            <li *ngIf="currentUser" class="nav-item">-->
              <a href="#contactUs" mdbPageScroll [pageScrollOffset]="scrollOffset" [pageScrollDuration]="scrollDuration" class="nav-link waves-light" mdbWavesEffect>{{'HUMAN_LAYOUT.CONTACT_US' | translate}}</a>
            </li>
            <li class="nav-item">
              <a href="#businessPartner" mdbPageScroll [pageScrollOffset]="scrollOffset" [pageScrollDuration]="scrollDuration" class="nav-link waves-light" mdbWavesEffect>{{'HUMAN_LAYOUT.OUR_BUSINESS_PARTNER' | translate}}</a>
            </li>
            <li class="nav-item">
              <a href="#ourClients" mdbPageScroll [pageScrollOffset]="scrollOffset" [pageScrollDuration]="scrollDuration" class="nav-link waves-light" mdbWavesEffect>{{'HUMAN_LAYOUT.OUR_CLIENTS' | translate}}</a>
            </li>
            <li class="nav-item">
              <a href="#directorsBoard" mdbPageScroll [pageScrollOffset]="scrollOffset" [pageScrollDuration]="scrollDuration" class="nav-link waves-light" mdbWavesEffect>{{'HUMAN_LAYOUT.BOARD_OF_DIRECTORS' | translate}}</a>
            </li>
          </ul>
          <ul class="navbar-nav nav-flex-icons" [ngClass]="('DIRECTION' | translate) === 'ltr' ? 'ml-auto' : 'mr-auto'">
            <li class="nav-item dropdown" dropdown>
              <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light">
                {{'COMMON.LANGUAGE' | translate}}<span class="caret"></span>
              </a>
              <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                <div >
                  <a (click)="onLanguageButtonClicked('ar')" class="dropdown-item waves-light" mdbWavesEffect>{{'COMMON.ARABIC' | translate}}</a>
                  <a (click)="onLanguageButtonClicked('en')" class="dropdown-item waves-light" mdbWavesEffect>{{'COMMON.ENGLISH' | translate}}</a>
                </div>
              </div>
            </li>
            <li class="nav-item dropdown" dropdown>
              <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light">
                <mdb-icon fas icon="user"></mdb-icon><span class="caret"></span>
              </a>
              <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                <div *ngIf="currentUser">
                  <a [routerLink]="routes.conference.myaccount" class="dropdown-item waves-light" mdbWavesEffect>{{'SIGNIN.MY_ACCOUNT' | translate}}</a>
                  <a (click)="signOut()" class="dropdown-item waves-light" mdbWavesEffect>{{'SIGNIN.SIGNOUT' | translate}}</a>
                </div>
                <div *ngIf="!currentUser">
                  <a [routerLink]="routes.auth.signIn" class="dropdown-item waves-light" mdbWavesEffect>{{'SIGNIN.SIGNIN' | translate}}</a>
                  <a [routerLink]="routes.auth.signUp" class="dropdown-item waves-light" mdbWavesEffect>{{'SIGNIN.SIGNUP' | translate}}</a>
                </div>
              </div>
            </li>
          </ul>
        </links>
        <!-- Collapsible content -->
<!--      </div>-->
    </mdb-navbar>
    <router-outlet (activate)="onActivate($event)"></router-outlet>
    <app-layout-footer></app-layout-footer>
  </div>
</main>
