<section class="full-width about-us-image-padding">
  <img [src]="lang === 'en' ? 'assets/media/bg/business-about-en.png' : 'assets/media/bg/business-about-ar.png'" class="bg absolute-left-0" >
  <h2 class="h1-responsive font-weight-bold text-center my-5">{{'BUSINESS_ABOUT_US.TITLE' | translate}}</h2>
  <h4 class="h5-responsive text-left w-responsive mx-auto mt-3 px-3">{{'BUSINESS_ABOUT_US.DESCRIPTION1' | translate}}</h4>
  <h4 class="h5-responsive text-left w-responsive mx-auto mt-3 px-3">{{'BUSINESS_ABOUT_US.DESCRIPTION2' | translate}}</h4>
  <ul>
    <li class="h5-responsive text-left w-responsive mx-auto">{{'BUSINESS_ABOUT_US.ITEM1' | translate}}</li>
    <li class="h5-responsive text-left w-responsive mx-auto">{{'BUSINESS_ABOUT_US.ITEM2' | translate}}</li>
  </ul>
</section>
