<section class="screen-breakpoint margin-auto-x my-5">

  <h2 class="h1-responsive font-weight-bold text-center my-5">{{'HUMAN_LAYOUT.OUR_BUSINESS_PARTNER' | translate}}</h2>
  <mdb-carousel [isControls]="true" class="carousel-multi-item carousel" [type]="'carousel-multi-item'"
                [animation]="'slide'" dir="ltr">
    <mdb-carousel-item *ngFor="let item of slides; let i = index">
      <div class="col-md-4" [ngClass]="{'d-none d-md-block': cardIndex !== 0}" *ngFor="let card of item; let cardIndex = index">
        <mdb-card class="my-1 my-card">
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
<!--            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/men.jpg"></mdb-card-img>-->
            <img [src]="card.img" alt="Card image cap" class="my-card-image round-border-top mx-auto">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <mdb-card-body>
            <h4 class="card-title text-align-center">
              <strong>{{card.name}}</strong>
            </h4>
            <h5 class="text-align-center">{{card.title}}</h5>
            <p class="card-text">{{card.description}}</p>
            <!--            <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>{{card.buttonText}}</a>-->

            <div class="text-align-center">
              <!--Facebook-->
              <a *ngIf="!!card.social1 && card.social1.length > 0" [href]="card.social1" target="_blank" type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbWavesEffect>
                <mdb-icon fab icon="facebook-f"></mdb-icon>
              </a>
              <!--Twitter-->
              <a *ngIf="!!card.social2 && card.social2.length > 0" [href]="card.social2" target="_blank" type="button" mdbBtn floating="true" size="sm" color="tw" class="waves-light" mdbWavesEffect>
                <mdb-icon fab icon="twitter"></mdb-icon>
              </a>
              <!--Google +-->
              <a *ngIf="!!card.social3 && card.social3.length > 0" [href]="card.social3" target="_blank" type="button" mdbBtn floating="true" size="sm" color="dribbble" class="waves-light" mdbWavesEffect>
                <mdb-icon fab icon="dribbble"></mdb-icon>
              </a>
            </div>
          </mdb-card-body>
        </mdb-card>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>

</section>
<!-- Section: Social newsfeed v.2 -->
