<main>
  <div class="full-width">
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-light background-color-white sticky-top"
                [containerInside]="false">
      <mdb-navbar-brand><a class="navbar-brand"><img routerLink="/" src="./assets/media/logos/logo-sm.png" (click)="clearSection()"></a>
      </mdb-navbar-brand>
      <links>
        <ul class="navbar-nav" [ngClass]="('DIRECTION' | translate) === 'ltr' ? 'mr-auto' : 'ml-auto'">
          <li class="nav-item">
            <a class="nav-link waves-light" [routerLink]="routes.business.main"
               mdbWavesEffect>{{'BUSINESS_LAYOUT.MAIN' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" [routerLink]="routes.business.annualUpcoming"
               mdbWavesEffect>{{annualUpcoming}}</a>
          </li>
          <li class="nav-item">
<!--            <a class="nav-link waves-light" [routerLink]="routes.business.mostUpcoming"-->
            <a class="nav-link waves-light" [routerLink]="routes.business.upcoming"
               mdbWavesEffect>{{'BUSINESS_LAYOUT.MOST_UPCOMING' | translate}}</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link waves-light" [routerLink]="routes.business.previous"
               mdbWavesEffect>{{'BUSINESS_LAYOUT.PREVIOUS' | translate}}</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link waves-light" [routerLink]="routes.business.contactUs"
               mdbWavesEffect>{{'BUSINESS_LAYOUT.CONTACT_US' | translate}}</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link waves-light" [routerLink]="routes.business.directorBoard"
               mdbWavesEffect>{{'BUSINESS_LAYOUT.BOARD_OF_DIRECTORS' | translate}}</a>
          </li>
        </ul>
        <ul class="navbar-nav nav-flex-icons" [ngClass]="('DIRECTION' | translate) === 'ltr' ? 'ml-auto' : 'mr-auto'">
          <li class="nav-item dropdown" dropdown>
            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light">
              <mdb-icon fas icon="user"></mdb-icon><span class="caret"></span>
            </a>
            <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
              <div *ngIf="currentUser">
                <a [routerLink]="routes.business.myaccount" class="dropdown-item waves-light" mdbWavesEffect>{{'SIGNIN.MY_ACCOUNT' | translate}}</a>
                <a (click)="signOut()" class="dropdown-item waves-light" mdbWavesEffect>{{'SIGNIN.SIGNOUT' | translate}}</a>
              </div>
              <div *ngIf="!currentUser">
                <a [routerLink]="routes.auth.signIn" class="dropdown-item waves-light" mdbWavesEffect>{{'SIGNIN.SIGNIN' | translate}}</a>
                <a [routerLink]="routes.auth.signUp" class="dropdown-item waves-light" mdbWavesEffect>{{'SIGNIN.SIGNUP' | translate}}</a>
              </div>
            </div>
          </li>
        </ul>
      </links>
    </mdb-navbar>
    <router-outlet></router-outlet>
    <app-layout-footer></app-layout-footer>
  </div>
</main>
