@import "../../../../../consts";

.my-card {
  height: 470px;
}

.my-card-image {
  //width: auto;
  height: 200px;
}

.my-card-body {
  height: 120px;
}

@media (min-width: $screen-breakpoint2) {
  .my-card-image {
    //width: auto;
    height: 350px;
  }

  //.my-card-body {
  //  height: 200px;
  //}
}

.our-service-description {
  color: #747373;
  font-size: 1.1rem;
  //font-weight: 400;
}
