<section *ngIf="data" class="screen-breakpoint margin-auto-x my-5 px-3">
  <h2 class="h1-responsive font-weight-bold text-center my-5">{{'SHARED_COURSE_DETAILS.COURSE_DETAILS' | translate}}</h2>
  <div>
    <div class="col-md-7 margin-auto-x">
      <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
        <img *ngIf="!!data.mime && data.mime.startsWith('image')" class="img-fluid full-width" [src]="data.media">
        <video *ngIf="!!data.mime && data.mime.startsWith('video')" class="video-fluid full-width" [autoplay]="true" [loop]="true" [muted]="true">
          <source [src]="data.media" [type]="data.mime" />
        </video>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
  </div>
  <div class="text-align-center">
    <h4 class="font-weight-bold my-4">{{lang === 'en' ? data.titleEn : data.titleAr}}</h4>
  </div>

  <h5 class="mb-0">{{'SHARED_COURSE_DETAILS.ABOUT_COURSE' | translate}}</h5>
  <p class="my-2">{{lang === 'en' ? data.descriptionEn : data.descriptionAr}}</p>

  <h5 class="mt-4 mb-0">{{'SHARED_COURSE_DETAILS.DATE' | translate}}</h5>
  <p class="my-2">{{data.timestamp}}</p>

  <h5 class="mt-4 mb-2">{{'SHARED_COURSE_DETAILS.INSTRUCTORS' | translate}}</h5>
  <mdb-carousel [isControls]="true" class="carousel slide carousel-multi-item v-2" [type]="'carousel-multi-item'"
                [animation]="'slide'" dir="ltr">
    <mdb-carousel-item *ngFor="let item of slides; let i = index">
      <div class="col-md-4" [ngClass]="{'d-none d-md-block': cardIndex !== 0}" *ngFor="let card of item; let cardIndex = index">
        <mdb-card class="my-1 my-card">
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <img [src]="card.media" alt="Card image cap" class="my-card-image round-border-top mx-auto">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <mdb-card-body [class.text-align-right]="('DIRECTION' | translate) === 'rtl'">
            <mdb-card-title class="text-align-center">
              <h4>{{lang === 'en' ? card.nameEn : card.nameAr}}</h4>
            </mdb-card-title>
            <h5>{{lang === 'en' ? card.titleEn : card.titleAr}}</h5>
            <p class="my-card-text">{{lang === 'en' ? card.summaryEn : card.summaryAr}}</p>
          </mdb-card-body>
        </mdb-card>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
</section>
