<section *ngIf="data" class="screen-breakpoint margin-auto-x my-5 px-3">
<!--  <p class="text-left w-responsive mx-auto mt-5">{{'SHARED_COURSE_JOIN.WELCOME_MESSAGE' | translate}}</p>-->
  <p class="text-left w-responsive mx-auto mt-5">{{'SHARED_COURSE_JOIN.WELCOME_MESSAGE2' | translate}}</p>
  <p class="text-left w-responsive mx-auto my-1 information-spec">{{'SHARED_COURSE_JOIN.BENEFICIARY_NAME' | translate}} <span>{{'SHARED_COURSE_JOIN.BENEFICIARY_NAME2' | translate}}</span></p>
  <p class="text-left w-responsive mx-auto my-1 information-spec">{{'SHARED_COURSE_JOIN.IBAN' | translate}} <span>{{'SHARED_COURSE_JOIN.IBAN2' | translate}}</span></p>
  <p class="text-left w-responsive mx-auto my-1 information-spec">{{'SHARED_COURSE_JOIN.BANK' | translate}} <span>{{'SHARED_COURSE_JOIN.BANK2' | translate}}</span></p>
  <p class="text-left w-responsive mx-auto my-1 information-spec">{{'SHARED_COURSE_JOIN.EMAIL' | translate}} <span>{{'SHARED_COURSE_JOIN.EMAIL2' | translate}}</span></p>
  <p class="text-left w-responsive mx-auto my-1 information-spec">{{'SHARED_COURSE_JOIN.INSTRUCTION' | translate}}</p>
  <p class="text-left w-responsive mx-auto my-1 information-spec">{{'SHARED_COURSE_JOIN.CONTACT' | translate}}</p>
  <p class="text-left w-responsive mx-auto my-1 information-spec" dir="ltr"><span>{{'SHARED_COURSE_JOIN.PHONE' | translate}}</span></p>
  <p class="text-left w-responsive mx-auto my-1 information-spec"><span>{{'SHARED_COURSE_JOIN.NAME' | translate}}</span></p>
  <h2 class="h1-responsive font-weight-bold text-center my-5">{{'SHARED_EVENT_JOIN.YOUR_INFORMATION' | translate}}</h2>
  <div class="card">
    <div class="row">
      <div class="col-lg-12">
        <form class="card-body form" name="form" [formGroup]="form" (ngSubmit)="submit()">
          <div class="row">
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="firstName" class="form-control" mdbInput readonly formControlName="firstName">
                <label for="firstName" class="">{{'SIGNIN.FIRST_NAME'| translate}}</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="fatherName" class="form-control" mdbInput readonly formControlName="fatherName">
                <label for="fatherName" class="">{{'SIGNIN.FATHER_NAME'| translate}}</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="lastName" class="form-control" mdbInput readonly formControlName="lastName">
                <label for="lastName" class="">{{'SIGNIN.LAST_NAME'| translate}}</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="company" class="form-control" mdbInput readonly formControlName="company">
                <label for="company" class="">{{'SIGNIN.COMPANY'| translate}}</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="city" class="form-control" mdbInput readonly formControlName="city">
                <label for="city" class="">{{'SIGNIN.CITY'| translate}}</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="email" class="form-control" mdbInput readonly formControlName="email">
                <label for="email" class="">{{'SIGNIN.EMAIL'| translate}}</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="phone" class="form-control" mdbInput readonly formControlName="phone">
                <label for="phone" class="">{{'SIGNIN.PHONE'| translate}}</label>
              </div>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-md-12">
              <!--                <button type="button" mdbBtn color="warning" mdbWavesEffect (click)="goBack({})">-->
              <!--                  <mdb-icon far icon="arrow-left"></mdb-icon>-->
              <!--                </button>-->
              <button mdbBtn color="indigo" mdbWavesEffect>
                <mdb-icon far icon="paper-plane"></mdb-icon>
              </button>
            </div>
          </div>
          <div *ngIf="alert.show" class="alert alert-dismissible fade show" [ngClass]="alert.type" role="alert">
            <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
              <span aria-hidden="true">&times;</span>
            </button>
            {{alert.message}}
          </div>
        </form>
      </div>
    </div>
  </div>

  <h2 class="h1-responsive font-weight-bold text-center my-5">{{'SHARED_COURSE_DETAILS.COURSE_DETAILS' | translate}}</h2>
  <div>
    <div class="col-md-7 margin-auto-x">
      <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
        <img *ngIf="!!data.mime && data.mime.startsWith('image')" class="img-fluid full-width" [src]="data.media">
        <video *ngIf="!!data.mime && data.mime.startsWith('video')" class="video-fluid full-width" [autoplay]="true" [loop]="true" [muted]="true">
          <source [src]="data.media" [type]="data.mime" />
        </video>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
  </div>
  <div class="text-align-center">
    <h4 class="font-weight-bold my-4">{{lang === 'en' ? data.titleEn : data.titleAr}}</h4>
  </div>

  <h5 class="mb-0">{{'SHARED_COURSE_DETAILS.ABOUT_COURSE' | translate}}</h5>
  <p class="my-2">{{lang === 'en' ? data.descriptionEn : data.descriptionAr}}</p>

  <h5 class="mt-4 mb-0">{{'SHARED_COURSE_DETAILS.DATE' | translate}}</h5>
  <p class="my-2">{{data.timestamp}}</p>

  <h5 class="mt-4 mb-2">{{'SHARED_COURSE_DETAILS.INSTRUCTORS' | translate}}</h5>
  <mdb-carousel [isControls]="true" class="carousel slide carousel-multi-item v-2" [type]="'carousel-multi-item'"
                [animation]="'slide'" dir="ltr">
    <mdb-carousel-item *ngFor="let item of slides; let i = index">
      <div class="col-md-4" [ngClass]="{'d-none d-md-block': cardIndex !== 0}" *ngFor="let card of item; let cardIndex = index">
        <mdb-card class="my-1 my-card">
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <img [src]="card.media" alt="Card image cap" class="my-card-image round-border-top mx-auto">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <mdb-card-body [class.text-align-right]="('DIRECTION' | translate) === 'rtl'">
            <mdb-card-title class="text-align-center">
              <h4>{{lang === 'en' ? card.nameEn : card.nameAr}}</h4>
            </mdb-card-title>
            <h5>{{lang === 'en' ? card.titleEn : card.titleAr}}</h5>
            <p class="my-card-text">{{lang === 'en' ? card.summaryEn : card.summaryAr}}</p>
          </mdb-card-body>
        </mdb-card>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
</section>
