<div class="row">

  <!-- Grid column -->
  <div class="col-md-5" [class.big-post-image]="bigPostImage">
    <!-- Featured image -->
    <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
      <img *ngIf="!!data.mime && data.mime.startsWith('image')" class="img-fluid full-width" [src]="data.media">
      <video *ngIf="!!data.mime && data.mime.startsWith('video')" class="video-fluid full-width" [autoplay]="true" [loop]="true" [muted]="true">
        <source [src]="data.media" [type]="data.mime" />
      </video>
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-md-7" [class.text-align-right]="('DIRECTION' | translate) === 'rtl'">
    <!-- Post title -->
    <h3 class="h4-responsive font-weight-bold mb-3"><strong>{{lang === 'en' ? data.titleEn : data.titleAr}}</strong></h3>
    <!-- Excerpt -->
    <p *ngIf="!showMore" class="mb-0">{{lang === 'en' ? shortSummaryEn : shortSummaryAr}}</p>
    <p *ngIf="showMore" class="mb-0">{{lang === 'en' ? data.summaryEn : data.summaryAr}}</p>
    <a *ngIf="minified" (click)="toggleShowMore()">{{(showMore ? 'COMMON.SHOW_LESS' : 'COMMON.SHOW_MORE') | translate}}</a>
    <!-- Post data -->
    <p class="mt-2">{{data.timestamp}}</p>
    <!-- Read more button -->
    <!--        <a mdbBtn color="success" mdbWavesEffect class="mb-lg-0 mb-4">Read more</a>-->

    <a *ngIf="!data.fake" [routerLink]="[routes.business.courseDetails, data.id]" mdbBtn mdbWavesEffect color="indigo" size="sm" (click)="setEditableRow()">{{'SHARED_COURSE_DETAILS.COURSE_DETAILS' | translate}}</a>
    <a *ngIf="!data.fake && data['isFuture']" [routerLink]="[routes.business.courseJoin, data.id]" mdbBtn mdbWavesEffect color="secondary" size="sm" (click)="setEditableRow()">{{'SHARED_COURSE_DETAILS.TO_REGISTER' | translate}}</a>
  </div>
  <!-- Grid column -->

</div>
