<section class="my-5 screen-breakpoint margin-auto-x my-5 col-md-12">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">{{title}}</h2>
  <!-- Section description -->
<!--  <p class="text-center w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in voluptate velit-->
<!--    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa-->
<!--    qui officia deserunt mollit anim id est laborum.</p>-->

  <div *ngFor="let item of items; let i = index;">
    <!-- Grid row -->
<!--    <div class="row">-->

<!--      &lt;!&ndash; Grid column &ndash;&gt;-->
<!--      <div class="col-md-5" [class.big-post-image]="i % 2 == 1">-->
<!--        &lt;!&ndash; Featured image &ndash;&gt;-->
<!--        <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>-->
<!--&lt;!&ndash;          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img%20(27).jpg" alt="Sample image">&ndash;&gt;-->
<!--          <img *ngIf="item.mime.startsWith('image')" class="img-fluid full-width" [src]="item.media">-->
<!--          <video *ngIf="item.mime.startsWith('video')" class="video-fluid full-width" [autoplay]="true" [loop]="true" [muted]="true">-->
<!--            <source [src]="item.media" [type]="item.mime" />-->
<!--          </video>-->
<!--          <a>-->
<!--            <div class="mask rgba-white-slight"></div>-->
<!--          </a>-->
<!--        </div>-->

<!--      </div>-->
<!--      &lt;!&ndash; Grid column &ndash;&gt;-->

<!--      &lt;!&ndash; Grid column &ndash;&gt;-->
<!--      <div class="col-md-7" [class.text-align-right]="('DIRECTION' | translate) === 'rtl'">-->

<!--        &lt;!&ndash; Category &ndash;&gt;-->
<!--        <a href="#!" [class]="item.typeClass">-->
<!--          <h6 class="font-weight-bold mb-3">-->
<!--&lt;!&ndash;            <mdb-icon fas icon="utensils" class="pr-2"></mdb-icon>&ndash;&gt;-->
<!--            {{lang === 'en' ? item.typeEn : item.typeAr}}-->
<!--          </h6>-->
<!--        </a>-->
<!--        &lt;!&ndash; Post title &ndash;&gt;-->
<!--        <h3 class="h4-responsive font-weight-bold mb-3"><strong>{{lang === 'en' ? item.titleEn : item.titleAr}}</strong></h3>-->
<!--        &lt;!&ndash; Excerpt &ndash;&gt;-->
<!--        <p>{{lang === 'en' ? item.descriptionEn : item.descriptionAr}}</p>-->
<!--        &lt;!&ndash; Post data &ndash;&gt;-->
<!--        <p><a><strong>{{lang === 'en' ? item.nameEn : item.nameAr}}</strong></a>, {{item.timestamp}}</p>-->
<!--        &lt;!&ndash; Read more button &ndash;&gt;-->
<!--&lt;!&ndash;        <a mdbBtn color="success" mdbWavesEffect class="mb-lg-0 mb-4">Read more</a>&ndash;&gt;-->

<!--      </div>-->
<!--      &lt;!&ndash; Grid column &ndash;&gt;-->

<!--    </div>-->
    <!-- Grid row -->
    <app-shared-courses-item [scope]="scope" [bigPostImage]="i % 2 != 0" [data]="item"></app-shared-courses-item>

    <hr *ngIf="i + 1 < items.length" class="my-5">
  </div>

</section>
