@import "../../../../../consts";

.my-card {
  height: 390px;
}

.my-card-image {
  //width: auto;
  height: 200px;
}

.my-card-text {
  height: 98px;
}

.information-spec span {
  font-weight: normal;
}
