<main>
  <div class="full-width">
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-light background-color-white sticky-top"
                [containerInside]="false">
      <mdb-navbar-brand><a class="navbar-brand"><img routerLink="/" src="./assets/media/logos/logo-sm.png" (click)="clearSection()"></a>
      </mdb-navbar-brand>
      <links>
        <ul class="navbar-nav" [ngClass]="('DIRECTION' | translate) === 'ltr' ? 'mr-auto' : 'ml-auto'">
          <li class="nav-item">
            <a class="nav-link waves-light" [routerLink]="routes.conference.main"
               mdbWavesEffect>{{'CONFERENCE_LAYOUT.MAIN' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" [routerLink]="routes.conference.upcomingEvents"
               mdbWavesEffect>{{'CONFERENCE_LAYOUT.UPCOMING_EVENTS' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" [routerLink]="routes.conference.previousEvents"
               mdbWavesEffect>{{'CONFERENCE_LAYOUT.PREVIOUS_EVENTS' | translate}}</a>
          </li>
<!--          <li class="nav-item">-->
<!--            <a class="nav-link waves-light" [routerLink]="routes.conference.register"-->
<!--               mdbWavesEffect>{{'CONFERENCE_LAYOUT.REGISTER' | translate}}</a>-->
<!--          </li>-->
          <li class="nav-item">
            <a  class="nav-link waves-light" [routerLink]="routes.conference.contactUs"
               mdbWavesEffect>{{'CONFERENCE_LAYOUT.CONTACT_US' | translate}}</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link waves-light" [routerLink]="routes.conference.sponsorRequest"
               mdbWavesEffect>{{'CONFERENCE_LAYOUT.SPONSOR_REQUEST4COMPANIES' | translate}}</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link waves-light" [routerLink]="routes.conference.prevSponsors"
               mdbWavesEffect>{{'CONFERENCE_LAYOUT.PREV_SPONSORS' | translate}}</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link waves-light" [routerLink]="routes.conference.directorBoard"
               mdbWavesEffect>{{'CONFERENCE_LAYOUT.BOARD_OF_DIRECTORS' | translate}}</a>
          </li>

<!--        <ul mdbScrollSpy="navbarScrollspy" class="navbar-nav mr-auto">-->
<!--          <li class="nav-item">-->
<!--            <a [ngx-scroll-to]="'main'" [ngx-scroll-to-offset]="scrollOffset" class="nav-link waves-light"-->
<!--               mdbWavesEffect>{{'CONFERENCE_LAYOUT.MAIN' | translate}}</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a [ngx-scroll-to]="'ourService'" [ngx-scroll-to-offset]="scrollOffset" class="nav-link waves-light"-->
<!--               mdbWavesEffect>{{'CONFERENCE_LAYOUT.PREVIOUS_EVENTS' | translate}}</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a [ngx-scroll-to]="'contactUs'" [ngx-scroll-to-offset]="scrollOffset" class="nav-link waves-light"-->
<!--               mdbWavesEffect>{{'CONFERENCE_LAYOUT.UPCOMING_EVENTS' | translate}}</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a [ngx-scroll-to]="'businessPartner'" [ngx-scroll-to-offset]="scrollOffset" class="nav-link waves-light"-->
<!--               mdbWavesEffect>{{'CONFERENCE_LAYOUT.REGISTER' | translate}}</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a [ngx-scroll-to]="'ourClients'" [ngx-scroll-to-offset]="scrollOffset" class="nav-link waves-light"-->
<!--               mdbWavesEffect>{{'CONFERENCE_LAYOUT.SPONSOR_REQUEST4COMPANIES' | translate}}</a>-->
<!--          </li>-->
        </ul>

        <ul class="navbar-nav nav-flex-icons" [ngClass]="('DIRECTION' | translate) === 'ltr' ? 'ml-auto' : 'mr-auto'">
          <li class="nav-item dropdown" dropdown>
            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light">
              <mdb-icon fas icon="user"></mdb-icon><span class="caret"></span>
            </a>
            <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
              <div *ngIf="currentUser">
                <a [routerLink]="routes.conference.myaccount" class="dropdown-item waves-light" mdbWavesEffect>{{'SIGNIN.MY_ACCOUNT' | translate}}</a>
                <a (click)="signOut()" class="dropdown-item waves-light" mdbWavesEffect>{{'SIGNIN.SIGNOUT' | translate}}</a>
              </div>
              <div *ngIf="!currentUser">
                <a [routerLink]="routes.auth.signIn" class="dropdown-item waves-light" mdbWavesEffect>{{'SIGNIN.SIGNIN' | translate}}</a>
                <a [routerLink]="routes.auth.signUp" class="dropdown-item waves-light" mdbWavesEffect>{{'SIGNIN.SIGNUP' | translate}}</a>
              </div>
            </div>
          </li>
        </ul>
      </links>
    </mdb-navbar>
    <router-outlet (activate)="onActivate($event)"></router-outlet>
    <app-layout-footer></app-layout-footer>
  </div>
</main>
