$radius: 4px;
$gray: #424242;
$gray-lighten-1: #aaaaaa;
$white: #ffffff;
$semi-white: rgba(255, 255, 255, 0.6);
$input-label-color: #757575 !default;

$screen-breakpoint: 992px;
$screen-breakpoint2: 768px;

$no-col-width: 60px;
$edit-col-width: 98px;
