@import "../../../../consts";

$bg-width: 250px;

img.bg {
  position: absolute;
  top: 0;
  width: $bg-width;
}

@media (max-width: $screen-breakpoint) {
  img.bg {
    width: calc(#{$bg-width} / 2.4);
  }
}

ul li {
  //ma
}

video {
  width: 80%;
}

//@media (max-width: $screen-breakpoint) {
//  video {
//    width: 100%;
//    margin-left: 1rem !important;
//    margin-right: 1rem !important;
//  }
//}
