
<h2 class="h1-responsive font-weight-bold text-center mt-3">{{'SHARED_MYACCOUNT.MYACCOUNT' | translate}}</h2>
<h5 class="mb-0">{{'SHARED_MYACCOUNT.INFORMATION' | translate}}</h5>
<form [formGroup]="form" class="mx-2 mt-4" (ngSubmit)="onSubmit()">
  <input id="id" type="hidden" class="form-control grey-text" formControlName="id" mdbInput>
  <div class="row">
    <div class="col-md-6">
      <div class="md-form md-bg mb-0">
        <input type="email" id="email" class="form-control" mdbInput mdbValidate formControlName="email" [readOnly]="loading">
        <label for="email">{{'SIGNIN.EMAIL' | translate}}</label>
        <mdb-error *ngIf="f.email.errors && f.email.errors.required && (f.email.dirty || f.email.touched)" class="error-message2 text-left" [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SIGNIN.EMAIL' | translate}"></mdb-error>
        <mdb-error *ngIf="f.email.errors && f.email.errors.email && (f.email.dirty || f.email.touched)" class="error-message2 text-left" [translate]="'COMMON.FIELD_INVALID'" [translateParams]="{field: 'SIGNIN.EMAIL' | translate}"></mdb-error>
      </div>
    </div>
    <div class="col-md-6">
      <div class="md-form md-bg mb-0">
        <input type="text" id="username" class="form-control" mdbInput mdbValidate formControlName="username" [readOnly]="loading">
        <label for="username">{{'SIGNIN.USERNAME' | translate}}</label>
        <mdb-error *ngIf="f.username.errors && f.username.errors.required && (f.username.dirty || f.username.touched)" class="error-message2 text-left" [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SIGNIN.USERNAME' | translate}"></mdb-error>
        <mdb-error *ngIf="f.username.errors && f.username.errors.maxlength && (f.username.dirty || f.username.touched)" class="error-message2 text-left" [translate]="'COMMON.FIELD_MAX_LENGTH'" [translateParams]="{field: 'SIGNIN.USERNAME' | translate, length: lang === 'en' ? 20 : '٢٠'}"></mdb-error>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="md-form md-bg mb-0">
        <input type="text" id="firstName" class="form-control" mdbInput mdbValidate formControlName="firstName" [readOnly]="loading">
        <label for="firstName">{{'SIGNIN.FIRST_NAME' | translate}}</label>
        <mdb-error *ngIf="f.firstName.errors && f.firstName.errors.required && (f.firstName.dirty || f.firstName.touched)" class="error-message2 text-left" [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SIGNIN.FIRST_NAME' | translate}"></mdb-error>
      </div>
    </div>
    <div class="col-md-6">
      <div class="md-form md-bg mb-0">
        <input type="text" id="fatherName" class="form-control" mdbInput mdbValidate formControlName="fatherName" [readOnly]="loading">
        <label for="fatherName">{{'SIGNIN.FATHER_NAME' | translate}}</label>
        <mdb-error *ngIf="f.fatherName.errors && f.fatherName.errors.required && (f.fatherName.dirty || f.fatherName.touched)" class="error-message2 text-left" [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SIGNIN.FATHER_NAME' | translate}"></mdb-error>
      </div>
    </div>
    <div class="col-md-6">
      <div class="md-form md-bg mb-0">
        <input type="text" id="lastName" class="form-control" mdbInput mdbValidate formControlName="lastName" [readOnly]="loading">
        <label for="lastName">{{'SIGNIN.LAST_NAME' | translate}}</label>
        <mdb-error *ngIf="f.lastName.errors && f.lastName.errors.required && (f.lastName.dirty || f.lastName.touched)" class="error-message2 text-left" [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SIGNIN.LAST_NAME' | translate}"></mdb-error>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="md-form md-bg mb-0">
        <mdb-select formControlName="gender" [label]="'SIGNIN.GENDER' | translate" [options]="genders" class="white pb-1"></mdb-select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="md-form md-bg mb-0">
        <mdb-date-picker formControlName="birthday" [label]="'SIGNIN.BIRTHDAY' | translate" [options]="datePickerOptions" required class="white"></mdb-date-picker>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="md-form md-bg mb-0">
        <input type="text" id="jobTitle" class="form-control" mdbInput mdbValidate formControlName="jobTitle" [readOnly]="loading">
        <label for="jobTitle">{{'SIGNIN.JOB_TITLE' | translate}}</label>
        <mdb-error *ngIf="f.jobTitle.errors && f.jobTitle.errors.required && (f.jobTitle.dirty || f.jobTitle.touched)" class="error-message2 text-left" [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SIGNIN.JOB_TITLE' | translate}"></mdb-error>
      </div>
    </div>
    <div class="col-md-6">
      <div class="md-form md-bg mb-0">
        <input type="text" id="sector" class="form-control" mdbInput mdbValidate formControlName="sector" [readOnly]="loading">
        <label for="sector">{{'SIGNIN.SECTOR' | translate}}</label>
        <mdb-error *ngIf="f.sector.errors && f.sector.errors.required && (f.sector.dirty || f.sector.touched)" class="error-message2 text-left" [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SIGNIN.SECTOR' | translate}"></mdb-error>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="md-form md-bg mb-0">
        <input type="text" id="company" class="form-control" mdbInput mdbValidate formControlName="company" [readOnly]="loading">
        <label for="company">{{'SIGNIN.COMPANY' | translate}}</label>
        <mdb-error *ngIf="f.company.errors && f.company.errors.required && (f.company.dirty || f.company.touched)" class="error-message2 text-left" [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SIGNIN.COMPANY' | translate}"></mdb-error>
      </div>
    </div>
    <div class="col-md-6">
      <div class="md-form md-bg mb-0">
        <input type="text" id="city" class="form-control" mdbInput mdbValidate formControlName="city" [readOnly]="loading">
        <label for="city">{{'SIGNIN.CITY' | translate}}</label>
        <mdb-error *ngIf="f.city.errors && f.city.errors.required && (f.city.dirty || f.city.touched)" class="error-message2 text-left" [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SIGNIN.CITY' | translate}"></mdb-error>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="md-form md-bg mb-0">
        <mdb-select formControlName="countryCode" [label]="'SIGNIN.COUNTRY_CODE' | translate" [options]="countryCodes" class="white pb-1"></mdb-select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="md-form md-bg mb-0">
        <input type="text" id="phone" class="form-control" mdbInput mdbValidate formControlName="phone" [readOnly]="loading">
        <label for="phone">{{'SIGNIN.PHONE' | translate}}</label>
        <mdb-error *ngIf="f.phone.errors && f.phone.errors.required && (f.phone.dirty || f.phone.touched)" class="error-message2 text-left" [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SIGNIN.PHONE' | translate}"></mdb-error>
      </div>
    </div>
  </div>

  <div *ngIf="alert.show" class="alert alert-dismissible fade show mt-3" [ngClass]="alert.type" role="alert">
    <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
      <span aria-hidden="true">&times;</span>
    </button>
    {{alert.message}}
  </div>
  <div class="button-spec">
    <button type="submit" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect
            [disabled]="form.invalid || loading">{{'COMMON.SAVE' | translate}}
    </button>
  </div>
</form>
<h5 class="mt-5 mb-0">{{'SHARED_MYACCOUNT.PASSWORD3' | translate}}</h5>
<form [formGroup]="passwordForm" class="mx-2 mt-4" (ngSubmit)="changePassword()">
  <div class="row">
    <div class="col-md-6">
      <div class="md-form mt-0 md-bg mb-0">
        <input type="password" id="currentPassword" class="form-control" mdbInput mdbValidate formControlName="currentPassword" [readOnly]="passwordLoading">
        <label for="currentPassword">{{'SHARED_MYACCOUNT.CURRENT_PASSWORD' | translate}}</label>
        <mdb-error *ngIf="passwordF.currentPassword.errors && passwordF.currentPassword.errors.required && (passwordF.currentPassword.dirty || passwordF.currentPassword.touched)" [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SHARED_MYACCOUNT.CURRENT_PASSWORD' | translate}"></mdb-error>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="md-form mt-0 md-bg mb-0">
        <input type="password" id="password" class="form-control" mdbInput mdbValidate formControlName="password" [readOnly]="passwordLoading">
        <label for="password">{{'SHARED_MYACCOUNT.PASSWORD' | translate}}</label>
        <mdb-error *ngIf="passwordF.password.errors && passwordF.password.errors.required && (passwordF.password.dirty || passwordF.password.touched)" [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SHARED_MYACCOUNT.PASSWORD' | translate}"></mdb-error>
        <mdb-error *ngIf="passwordF.password.errors && passwordF.password.errors.minlength && (passwordF.password.dirty || passwordF.password.touched)" [translate]="'COMMON.FIELD_MIN_LENGTH'" [translateParams]="{field: 'SHARED_MYACCOUNT.PASSWORD' | translate, length: 6}"></mdb-error>
      </div>
    </div>
    <div class="col-md-6">
      <div class="md-form mt-0 md-bg mb-0">
        <input type="password" id="password2" class="form-control" mdbInput mdbValidate formControlName="password2" [readOnly]="passwordLoading" mdb-validateEqual="password" validateEqual="password">
        <label for="password2">{{'SHARED_MYACCOUNT.PASSWORD2' | translate}}</label>
        <mdb-error *ngIf="passwordF.password2.errors && passwordF.password2.errors.required && (passwordF.password2.dirty || passwordF.password2.touched)" [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SHARED_MYACCOUNT.PASSWORD2' | translate}"></mdb-error>
        <mdb-error *ngIf="passwordF.password2.errors && passwordF.password2.errors.minlength && (passwordF.password2.dirty || passwordF.password2.touched)" [translate]="'COMMON.FIELD_MIN_LENGTH'" [translateParams]="{field: 'SHARED_MYACCOUNT.PASSWORD2' | translate, length: 6}"></mdb-error>
        <mdb-error *ngIf="passwordF.password2.errors && !passwordF.password2.errors.required && !passwordF.password2.errors.minlength && !passwordF.password2.errors.validateEqual && (passwordF.password2.dirty || passwordF.password2.touched)" [translate]="'COMMON.MAKE_SURE_SAME_TO'" [translateParams]="{field: 'SHARED_MYACCOUNT.PASSWORD' | translate}"></mdb-error>
      </div>
    </div>
  </div>
  <div *ngIf="passwordAlert.show" class="alert alert-dismissible fade show mt-3" [ngClass]="passwordAlert.type" role="alert">
    <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
      <span aria-hidden="true">&times;</span>
    </button>
    {{passwordAlert.message}}
  </div>
  <div class="button-spec">
    <button type="submit" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect [disabled]="passwordForm.invalid || passwordLoading">{{'COMMON.CHANGE' | translate}}
    </button>
  </div>
</form>
<!--  </div>-->
<!--</div>-->
