@import "../../../../../consts";

$white-color: #ffffff;
$gray-color: #757575;
$gray-color2: #b9babc;
$primary-color: #4285f4;
$gray-primary-color: #426db5;

form {
  //margin-left: 15px;
}

.my-error {
  //margin-top: 10px;
  margin-left: 15px;
}
